flask==2.2.5
opencv-python==4.5.5.64
numpy==1.26.4
boto3==1.34.135
Flask-Cors==5.0.0
Flask-SocketIO==5.5.0
requests==2.32.2
Flask-Session==0.8.0
dlib==19.24.4
dlid==0.1.6
imutils==0.5.4
mediapipe==0.10.14
scipy==1.11.4