<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>事業者ページ</title>
    <script>
        let google_form_url = "{{ google_form_url }}"; // Flaskから渡されたURLをJavaScriptに設定
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="menuSideBar"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
